/*---------------------------------------------------
 Grid 
---------------------------------------------------*/

.container{
	width: 100%;
	max-width: 1280px;
	padding: 30px;
	box-sizing: border-box;
}

.row{
	overflow: hidden;
}

.col-1{
	width: 1/12*100%;
	float: left;
	box-sizing: border-box;
}
.col-2{
	width: 2/12*100%;
	float: left;
	box-sizing: border-box;
}
.col-3{
	width: 3/12*100%;
	float: left;
	box-sizing: border-box;
}
.col-4{
	width: 4/12*100%;
	float: left;
	box-sizing: border-box;
}
.col-5{
	width: 5/12*100%;
	float: left;
	box-sizing: border-box;
}
.col-6{
	width: 6/12*100%;
	float: left;
	box-sizing: border-box;
}
.col-7{
	width: 7/12*100%;
	float: left;
	box-sizing: border-box;
}
.col-8{
	width: 8/12*100%;
	float: left;
	box-sizing: border-box;
}
.col-9{
	width: 9/12*100%;
	float: left;
	box-sizing: border-box;
}
.col-10{
	width: 10/12*100%;
	float: left;
	box-sizing: border-box;
}
.col-11{
	width: 11/12*100%;
	float: left;
	box-sizing: border-box;
}
.col-12{
	width: 12/12*100%;
	float: left;
	box-sizing: border-box;
}

/*---------------------------------------------------
 Offeset 
---------------------------------------------------*/

.offset-1{
	margin-left: 1/12*100%;
}
.offset-2{
	margin-left: 2/12*100%;
}
.offset-3{
	margin-left: 3/12*100%;
}
.offset-4{
	margin-left: 4/12*100%;
}
.offset-5{
	margin-left: 5/12*100%;
}
.offset-6{
	margin-left: 6/12*100%;
}
.offset-7{
	margin-left: 7/12*100%;
}
.offset-8{
	margin-left: 8/12*100%;
}
.offset-9{
	margin-left: 9/12*100%;
}
.offset-10{
	margin-left: 10/12*100%;
}
.offset-11{
	margin-left: 11/12*100%;
}
.offset-12{
	margin-left: 12/12*100%;
}


/*---------------------------------------------------
 Ende Grid 
---------------------------------------------------*/