/*---------------------------------------------------
 Variables 
---------------------------------------------------*/

/* Color */
$grey: #333;
$white: #fff;
$gold: #beb078;
$eyecatch: #ffd213;

/* Font-Families */
$base-font-family: Helvetica, sans-serif;
$alt-font-family: Helvetica Neue, sans-serif;

/* Font-Weights */
$light: 100;
$bold: 600;

/* Font-Sizes */
$font-size-nav: 14 / 16 * 100%;
$font-size-p: 16 / 16 * 100%;
$font-size-h5: 18 / 16 * 100%;
$font-size-button: 24 / 16 * 100%;
$font-size-h4: 30 / 16 * 100%;
$font-size-h3: 60 / 16 * 100%;
$font-size-h2: 72 / 16 * 100%;
