
@import 'variables';
@import 'grid';
@import 'navigation';

/*---------------------------------------------------
 General Style 
---------------------------------------------------*/

ol, ul {
	list-style: none;
	margin: 0;
}

body{
		font-size: 100%;
}

@media all and (max-width: 600px){
	body{
		font-size: 80%;
	}
}

@media all and (max-width: 480px){
	body{
		font-size: 60%;
	}
}

img{
	max-width: 100%;
}

h2{
	font-family: $base-font-family;
	font-weight: $bold;
	font-size: $font-size-h2;
	color: $white;
	line-height: 1.2;
}

h4{
	font-family: $alt-font-family;
	font-weight: $bold;
	font-size: $font-size-h4;
	color: $grey;
	line-height: 1.2;
}

h5{
	font-family: $alt-font-family;
	font-weight: $bold;
	font-size: $font-size-h5;
	color: $white;
	line-height: 1.2;
}

p{
	font-family: $base-font-family;
	font-weight: $medium;
	font-size: $font-size-p;
	color: $grey;
	line-height: 1.4;
}

#home{
	margin: 0px;
	width: 100%;
	height: 800px;
	background-color: $grey;
}

.logo{
	max-width: none;
}

.claim {
	font-family: $alt-font-family;
	font-weight: $light;
	font-size: $font-size-h3;
	color: $white;
	opacity: 0.15;	
	line-height: 1.2;
}

.introduction{
	margin-top: 150/800*100%;
}

#ueberUns h2{
	margin-top: 115%; 
	color: $grey;
}

#ueberUns .col-6 img{
	margin-top: 15%;
}

#ueberUns .col-4 img{
	margin-top: 320px;
}

#ueberUns p{
	border: 12px solid $grey;
	padding: 50px 30px 50px 30px;
	margin-top: 120px;
}

#news{
	margin: 0px;
	width: 100%;
	height: 800px;
	background-color: $grey;
}

#news h5:after {
    background-color: $white;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 250 / 1280 * 100%;
    margin-left: 10%;
}

#news p{
	color: $white;
}

#news a{
	font-family: $alt-font-family;
	font-weight: $bold;
	font-size: $font-size-h5;
	color: $gold;
	line-height: 1.2;
	padding-left: 20%;
}

.abstract{
	margin-left: -4%;
}

.article{
	margin-top: 120px;
}

#pflastersteine h2{
	color: $grey;
	margin-top: 5%;
	margin-bottom: 5%;
}

.description{
	float: right;
 	margin: auto;
 	padding: 35px;
 	border-left: 12px solid $grey;
 	height: 640px;
}

.flexslider h4{
	margin-top: 2%;
	margin-bottom: 5%;
}

.slides img{
	display: inline;
	float: left;
	max-width: 58.333%;
}

.flex-caption button{
	border: 5px solid $grey;
	margin-top: 50%;
	background-color: #fff;
	color: $grey;
	font-size: $font-size-button;
	font-weight: $bold;
	width: 100%;
	padding: 2%;
}

.flex-caption button:hover{
	border-color: $gold;
	color: $gold;
	cursor: pointer;
}

#transportbeton{
	margin: 0px;
	width: 100%;
	height: 800px;
	background-color: $grey;
}

#transportbeton p{
	color: #fff;
	margin-top: 40%;
}

#transportbeton h2{
	margin-top: 10%;
}
/*---------------------------------------------------
  Parallax Cubes
---------------------------------------------------*/

.layer{
  position: relative;
}

.layer img{
  position: relative;
}
.layer:nth-child(1) img{
  top: 0px;
  right: 0px;
  float: right;
}
.layer:nth-child(2) img{
  top: 80px;
  right: 320px;
}
.layer:nth-child(3) img{
  top: 155px;
  right: 115px;
  z-index: -1;
}
.layer:nth-child(4) img{
  top: 265px;
  right: 0px;
  float: right;
}
.cubes {
  float: right;
  max-width: 100%;
  height: 800px;
}

@media all and (max-width: 910px){
	.cubes {
	  display: none;
	}
}
/*---------------------------------------------------
  Ende Parallax Cubes
---------------------------------------------------*/